{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <div class="container">
        <h1 class="display-4">Welcome to Mountaineering in Ecuador</h1>

        <p class="lead">Our goal is to provide you with all the information you need to explore the beautiful mountains of Ecuador.</p>

        <p> Ecuador is home to some of the most breathtaking landscapes and challenging peaks in the world. Whether you are an experienced climber or a beginner, there are countless opportunities to push yourself and take in the stunning scenery.</p>

        <p> We created this website to share our insights and knowledge about mountaineering in Ecuador.</p>

        <p> Our website provides detailed guides to the best routes, peaks, and regions to climb, as well as recommendations for gear, accommodations, and local guides.</p>

        <p> We believe that mountaineering is not only about the climb, but also about the journey. We want to help you create unforgettable memories and experience the beauty of Ecuador's mountains.</p>

        <p>So whether you're looking to climb a challenging peak or simply explore the stunning landscapes of Ecuador, we've got you covered. Browse our website to find all the information you need and don't hesitate to contact us if you have any questions.</p>

        <p>Let's start planning your adventure today!</p>

        <img src="https://images.pexels.com/photos/6276301/pexels-photo-6276301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Mountaineering in Ecuador" class="img-fluid">

    </div>

{% endblock %}